{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<style>
  table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
  }

  th,
  td {
    padding: 14px 18px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 14px;
  }

  thead {
    background-color: #f8f9fa;
  }

  th {
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
  }

  tbody tr:hover {
    background-color: #f1f5f9;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }

  .dot.green {
    background-color: #28a745;
  }

  .dot.red {
    background-color: #dc3545;
  }

  h2 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }

  .add-category-btn {
    background-color: #00834c;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
  }
</style>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
  <h2>Credentials</h2>
</div>

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
  <h4>Gmail</h4>
</div>

<table>
  <thead>
    <tr>
      <th>Gmail ID</th>
      <th>Application Password</th>
      <th>Last Updated Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for e in email %}
    <tr>
      <td>{{ e.email_id }}</td>
      <td>{{ e.app_pass }}</td>
      <td>{{ e.updated_date }}</td>
      <td>
        <a href="{% url 'edit_credentials' e.pk %}" onclick="return confirm('Are you sure you want to edit this category?');">✏️ Edit</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No Credentials found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Gmail ID</th>
      <th>Application Password</th>
      <th>Last Updated Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for e in email %}
    <tr>
      <td>{{ e.email_id }}</td>
      <td>{{ e.app_pass }}</td>
      <td>{{ e.updated_date }}</td>
      <td>
        <a href="{% url 'edit_credentials' e.pk %}" onclick="return confirm('Are you sure you want to edit this category?');">✏️ Edit</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4">No Credentials found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
